//- Lists index

extends lists-layout

//- override piecemeal
block mainContent
  div#lists-wrapper
    != partial('partials/your-lists')
    != partial('partials/guest-lists')

  != partial('partials/new-list')