div.user #{username} #{user.system_name}

div#messages-wrapper
  h2 Messages
  div#messages

div#lists-wrapper
  h2 Your Lists
  div#lists
    - if (lists)
      ul
      - each list in lists
        li
          a(href='/lists/list/#{list._id}')= list.title
          |  (#{list.countItems()} items)

form#new-list(action='/lists/list/new', method='post')
  h3 Create a new list
  input(type='text', name='list_name', id='new-list-name')
  input(type='submit', value='Create')
