div.user #{username} #{user.system_name}

div#messages-wrapper
  h2 Messages
  div#messages

div#lists-wrapper
  h2 Your Lists
  div#lists
    - if (lists)
      ul
      - each list in lists
        li
          a(href='/lists/list/#{list._id}')= list.title
          |  (#{list.countItems()} items)