h1= title

div#users-wrapper
  h2 Users
  div#users

div#messages-wrapper
  h2 Messages
  div#messages

div#list-wrapper
  h2 Shopping List
  div#list

div#new-item-wrapper
  h2 Add new item
  form#new-item
    input#item(type='text', size='60')
    input#add(type='submit', value='Add')
