h1= listsAppTitle
h2= title

div.user= username

div#users-wrapper.sidebar
  h2 Users
  div#users

div#lists-wrapper.sidebar
  h2 Your Lists
  div#lists
    - if (lists)
      ul
      - each list in lists
        li
          a(href='/lists/list/#{list._id}')= list.title

div#messages-wrapper
  h2 Messages
  div#messages

div#list-wrapper
  h2 Shopping List
  div#list

div#new-item-wrapper
  h2 Add new item
  form#new-item
    input#item(type='text', size='60')
    input#add(type='submit', value='Add')


- if (typeof list != "undefined")
  != list