extends lists-layout

block mainContent
  div This app is personalized for each user.

  #fb-login.fb_button
    a.fb_button_medium(href='/auth/facebook')
     .btn Connect with Facebook to create your own lists!

