div This app is personalized for each user.

#fb-login.fb_button
  a.fb_button_medium(href='/auth/facebook')
   span#fb_login_text.fb_button_text Connect with Facebook 
  | to create your own lists!

