extends lists-layout

block mainContent
  include partials/intro

  //-div This app is personalized for each user.

  a.btn.large.primary(href='/auth/facebook') Connect with Facebook to create your own lists!
