//- Login box & friends
//- need to specify redirect? see http://facebook.stackoverflow.com/questions/5200167/how-to-let-facebook-login-button-redirect-to-a-particular-url

div#fb-friends
  div.fb-login-button(data-show-faces="true", data-width="200", data-max-rows="2")
