//-?
//-yield

div Created by Ben Buckman of <a href="http://newleafdigital.com">New Leaf Digital</a>.
  |  Use these apps entirely at your own risk.
  |  <a href="/">Read more about the apps</a>.

div.fb-like
  div(class="fb-like", data-href="http://apps.newleafdigital.com", data-send="true", data-layout="button_count", data-width="400", data-show-faces="false", data-font="lucida grande")