//- common apps header bar
//- adapted from fluid.html example in bootstrap

- if (typeof activeApp == "undefined") activeApp = null;

div.topbar
  div.topbar-inner
    div.container-fluid
      a.brand(href="/") New Leaf Digital Apps
    
      ul.nav      
        li(class=(activeApp=="lists" ? "active" : null))
          a.lists(href="/lists") Interactive Lists
          
        li(class=(activeApp=="flashcards" ? "active" : null))
          a.flashcards(href="/flashcards") Spanish Flashcards
          
        - if (loggedIn)
          - if (user.canUser('admin_users'))
              li.admin-only
                a.admin(href="/admin/users") Manage Users

          //-        li.dropdown
          //-          a.dropdown-toggle About
          //-            ul.dropdown-menu
          //-              li
          //-                a(href="http://newleafdigital.com") New Leaf Digital
          //-              li
          //-                a(href="http://newleafdigital.com/contact") Contact

      .pull-right.user
        //- LOCAL TESTING MODE
        - if (localNoAuth)
          div.warning In local test mode

        - if (loggedIn)
            span.username #{username}
            | 
            a.logout(href='/logout') Logout  
        - else if (! localNoAuth)
            a.login(href="/auth/facebook") Login with Facebook
