These apps were built by web developer Ben Buckman of 
  <a href="http://newleafdigital.com">New Leaf Digital</a>,<br/>
  using <a href="http://nodejs.org" target="_blank">node.js</a>,
  <a href="http://expressjs.com" target="_blank">express.js</a>,
  and <a href="http://mongodb.org" target="_blank">mongoDB</a>.<br/>
  
All the code for these apps is on <a href="https://github.com/newleafdigital/nld-apps-hq">GitHub</a>.<br/>

The apps were created for personal use, then this suite was built to master the node/express/mongo stack
  and as a showcase of production code.<br/>
Feel free to use them, but note that the code may be buggy, the apps might crash at any time, 
  and your data may be lost. <strong>Use these apps entirely at your own risk.</strong><br/>

You may login to the apps using your <strong>Facebook ID</strong>.<br/>
Enjoy!