These apps were built by freelance web developer Ben Buckman of 
  <a href="http://newleafdigital.com">New Leaf Digital</a>,<br/>
  using <a href="http://nodejs.org" target="_blank">node.js</a>,
  <a href="http://expressjs.com" target="_blank">express</a>,
  and <a href="http://mongodb.org" target="_blank">mongoDB</a>.<br/>
  
All the code for these apps is on <a href="https://github.com/newleafdigital/nld-apps-hq">GitHub</a>.<br/>

The apps were created for personal use, then this suite was built to master the node/express/mongo stack
  and as a showcase of production code.<br/>
Feel free to use them, but note that the code may be buggy, and I make no guarantees about uptime or data integrity.<br/>

You may login to the apps using your <strong>Facebook ID</strong>. 
(Your login info will not be used for any purpose other than the functionality of these apps.)<br/>
Enjoy!