div#promo
  div.work Looking for Node.js development? <a href="http://newleafdigital.com/contact">Contact us</a>.
  div.blog Read our <a href="http://benbuckman.net/tech/tag/nodejs">blog posts about our node.js work</a>.
  div.linode Apps hosted on <a href="http://www.linode.com/?r=2da15e366bf7e75348254675e13f924459bb0379">Linode</a>. <a href="http://www.linode.com/?r=2da15e366bf7e75348254675e13f924459bb0379">Signup using my referral code.</a>
  div.donate Like the apps? Donate some money for their continued development.
    include paypal-button.html