//- goes inside layout.jade
//- syntax: https://github.com/visionmedia/jade

extends flashcards-layout

append mainContent
  div#fc-intro Create your own Spanish Flashcards ...
  //- @todo continue...