header#bar
  div.appTitle!= title
  
  div.links
    a.hq(href="/") HQ
    
    - if (loggedIn)
      - if (user.canUser('admin_users'))
        a.admin(href="/admin/users") Manage Users

    a.flashcards(href="/spanish-flashcards") Spanish Flashcards

  div.user
    - if (localNoAuth)
      
    - else
      - if (loggedIn)
          div.username #{username}
          a.logout(href='/bye') Logout  

      - else
          a.login(href="/auth/facebook") Login with Facebook
      
  //!= testLocal
