header#bar
  div.appTitle!= title
  
  div.links
    a.hq(href="/") HQ
    
    - if (loggedIn)
      - if (user.canUser('admin_users'))
          a.admin(href="/admin/users") Manage Users

    a.flashcards(href="/flashcards") Spanish Flashcards
    
    a.lists(href="/lists") Interactive Lists

  div.user
    //- LOCAL TESTING MODE
    - if (localNoAuth)
      div.warning In local test mode

    - if (loggedIn)
        div.username #{username}
        a.logout(href='/logout') Logout  
    - else if (! localNoAuth)
        a.login(href="/auth/facebook") Login with Facebook
