extends layout

block mainContent
  h1= title

  - if (loggedIn)
      //-div.hello Hello #{username}
  - else
      a(href="/auth/facebook") login with facebook

  div#apps-home
    div#intro
      include includes/intro.html
    
    div#applist
      ul
        li
          a(href="/flashcards") Spanish Flashcards
          div.desc Make flashcards of English-Spanish translations, and look up words using the <a href="http://wordreference.com">WordReference</a> API.
        li
          a(href="/lists") Interactive Lists
          div.desc Share a shopping list or to-do list in real-time with your friends.
