//- Apps HQ index

extends layout

block mainContent
  //- (parent block is empty; not sure why append works here but not on other similar empty overrides.)
  block pageTitle
    //-(empty)

  div#apps-home
    - if (loggedIn)
      div.hello Hello #{username}!

    div#intro
      include includes/intro.html
    
    div#applist
      ul
        li
          a(href="/lists") Interactive Lists
          div.desc Share a shopping list or to-do list in real-time with your friends.
        li
          a(href="/flashcards") Spanish Flashcards
          div.desc Make flashcards of English-Spanish translations, 
            | and look up words using the <a href="http://wordreference.com" target="_blank">WordReference</a> API.
            
      - if (! loggedIn)
        - if (conf.localNoAuth === true)
          | (local)
          a(href='/admin/users/loginas') Login As
        - else
          a.btn.large.primary(href="/auth/facebook") Login with Facebook Connect


