!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel="shortcut icon", href="/nld_favicon.png", type="image/x-icon")
    
    - if (meta_description)
      meta(name="description", content="#{meta_description}")
    
  body
    != appsHeader

    section#main

      != messages()

      != body

    include footer
