//- Apps primary layout
!!! 5
html
  head
    block headTitle
      - if (typeof title != 'undefined')
        title= title
      - else
        title New Leaf Digital Apps
    
    //-@todo: html5 shim. apple-touch-icon (x3). ...
    
    block scripts
      //- use a local copy when developing locally/offline
      - if (typeof envId != 'undefined' && envId === 'local')
        script(src='#{listsBase}/javascripts/jquery.min.js')
      - else  
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        
      //-for dropdown in nav
      //-script(src="/stylesheets/bootstrap/js/bootstrap-dropdown.js")
    
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/nld-apps.css')    

    block icons
      link(rel="shortcut icon", href="/nld_favicon.png", type="image/x-icon")
    
    //-@todo used in all apps?
    block meta
      - if (meta_description)
        meta(name="description", content="#{meta_description}")
  
  
  body(class=bodyClass)
    block appsTopBar    
      != partial('includes/header.jade')

    //- #outer-wrapper sets up container for app content
    div#outer-wrapper.container-fluid
      div.sidebar
        block sidebar
          block appsLogo
            #apps-logo
              a(href="http://apps.newleafdigital.com")
                img(src="/nld-apps-logo.png", width=170, height=87)
          
          block promo
            include includes/promo

      block appContent
        section#main.content
        
          block pageTitle
          
          block messages
            - if (typeof messages != "undefined" && messages)
              include includes/messages
              mixin messages(messages)
          
          
          //- using layout:false now, inheritance rather than body
          //-!= body
          block mainContent
          

    //- (always have footer element, use prepend to add per-app additions above global)
    footer
      block footer
          !=partial('includes/footer')
