//- Apps primary layout
!!! 5
html
  head
    block headTitle
      title= title
    
    //-@todo: html5 shim. apple-touch-icon (x3). ...
    
    block scripts
    
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/nld-apps.css')    

    block icons
      link(rel="shortcut icon", href="/nld_favicon.png", type="image/x-icon")
    
    block meta
      - if (meta_description)
        meta(name="description", content="#{meta_description}")
  
  body(class=bodyClass)
    block appsTopBar    
      != partial('includes/header.jade')

    //- #outer-wrapper sets up container for app content
    div#outer-wrapper.container-fluid
      block sidebar
        div.sidebar
        
          block appsLogo
            #apps-logo
              a(href="http://apps.newleafdigital.com")
                img(src="/nld-apps-logo.png", width=170, height=87)
                
          block promo
            include includes/promo

      block appContent
        section#main.content
        
          block pageTitle

          //- @todo differentiate hq/sub messages?
          block messages
            != messages()

          //- using layout:false now, inheritance rather than body
          //-!= body
          block mainContent
          
          //- yield   ??

    block footer
      include includes/footer
