div#app-intro
  ul.concept
    li Login with Facebook Connect
    li Create to-do lists, shopping lists, or any other kinds of list
    li Share your lists with your friends
    li As you add and remove items from the list, everyone else sees it immediately in real-time
  
  div.note Note: This app requires a browser with websocket capability. It does not include any "graceful degradation" to standard forms.