body.app-flashcards {

  h2 {
    margin-bottom: .5em;
  }

  //@todo is this in bootstrap? ... [no, but it is in preboot.less]
  .rounded-corners (@radius: 10px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }

  #main > h1:first-child {
    margin-top: 0;
  }

  // (still needed?)
  .clearlist {
    list-style: none;
    margin: 0;
    padding: 0;
  }



  form#add-word, form#lookup-word {
    * {
      font-size: 1.2em;
    }
  
    div.field {
      float: left;
      clear: both;
      margin-bottom: 1em;
    }
    label {
      float: left;
      width: 100px;
      margin-right: 1em;
    }

    div.field.submit {
      padding-left: 1em;
      
      input {
        margin-left: 100px;
      }
    }
  }


  form#lookup-word {
    float: left;
    clear: both;
    width: 100%;
    border-bottom: solid #999 1px;
    margin-bottom: 1em;

    label {
      font-size: 1.1em;
    }
    .field.missing {
      font-size: .7em;
    }
  }


  ul#nav {
    .pills();
  
    li {
      min-width: 15%;
      margin-right: .5em;
      
      a {
        line-height: 1em;
        font-size: 1.4em;
      }
      span.details {
        display: block;
        font-size: .8em;
      }
    }  
  }


  ul.words, ul.definitions, ul.compounds {
    float: left;
    width: 100%;
    .clearlist;
  
    li {
      float: left;
      clear: both;
    
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: dotted 1px #ccc;
    
      div {
        float: left;
      }
    
      span {
        color: #000;
        margin: 0 20px 0 0;
        width: 100px;
        min-height: 1em;
        display: block;
        float: left;
      }
    
      span.label {
        color: #bbb;
        margin: 0 5px 0 0;
        width: auto;
      }
    
      .group span.label {  /*filler*/
        width: 45px;
        text-align: right;
      }
    }
  
    .links {
      float: left;
      a {
        margin-right: 1em;
      }
    }
  }


  #play-wrapper {
    .row;
  }

  #play {
    //.columns(12);   /* this isn't working here, putting in html for now */
    margin-bottom: 3em;

    .question {
      //clear: both;
      //float: left;
      .clearfix;
      font-size: 3em;
      line-height: 1em;  /* oddly this is very important, default line-height breaks this otherwise! */
    
      span.label {
        color: #999;
        margin: 0 1em 0 0;
        width: auto;
      }
    }
  
    #answer {
      display: none;
      .clearfix;
    
      font-size: 2em;
      margin-top: 1em;
    
      ul.words, ul.words li {
        width: 100%;
        clear: both;
        border-bottom: none;
      }
    
      li div {
        clear: both;
      }
    
      div.type {
        font-size: .8em;
        margin-top: .5em;
      }
    
      span {
        width: auto;
        white-space: nowrap;
      }
      span.label {
        width: 5em;
        /*clear: left;*/
      }
    
      div.links {
        clear: both;
        font-size: .5em;
        margin-top: 2em;
      }
    }

    div#show-wrapper {
      margin: 2em 0 3em 0;
      //float: left;
      //clear: both;
      .clearfix;
      //width: 100%;
    }
    a#show {
      //display: block;
      //float: left;
      .clearfix;

      font-size: 2em;
    
      border: solid #ccc 4px;
      .rounded-corners(20px);

      background: #111;
      color: #fff;
    
      padding: 10px 40px;
      text-decoration: none;
    }
  
    div.remaining {
      float: left;
      clear: left;
      //.clearfix;
      margin-top: 2em;
      color: #666;
    }
    
    a.next-correct, a.next-incorrect {
      display: block;
      float: left;
      font-size: 1.5em;
      color: #fff;
      padding: 30px 100px;
      margin-right: 30px;
      text-decoration: none;
      .rounded-corners(20px);
    }
    a.next-correct {
      background-color: green;
    }
    a.next-incorrect {
      background-color: red;
    }

    a.next-restart {
      .rounded-corners(10px);
      display: block;
      float: left;
      clear: both;
      margin-top: 2em;
      background: #000;
      color: #fff;
      padding: 10px;
      text-decoration: none;
    }

    div.gameover {
      font-size: 4em;
      .rounded-corners(20px);
    }
  } //#play

  #play.lang-en #answer div.english,
  #play.lang-es #answer div.spanish
   { display: none; }

  
  // (also inside #play-wrapper)
  div#kb-legend {
    display: none; /*toggled w/ JS*/
    
    //.columns(3);    /* this isn't working here, putting in html for now */

    border: solid #666 1px;
    .rounded-corners(20px);
    padding: 8px;
  
    h4 {
      margin: 0 0 .5em 0;
    }
  
    div {
      float: left;
      clear: both;
      font-size: .9em;
      color: #666;
      padding-bottom: .5em;
    
      span {
        display: block;
        float: left;
      }
      span.key {
        width: 70px;
      }
      span.does {
      }
    }
  }
  
} //body.app-flashcards


body.lookup {
  h3 {
    margin-top: 1em;
    /*float: left;*/
    clear: both;
  }
}

// no sidebar on Play
body.app-flashcards.play {
  section#main {
    margin-right: 0;
  }
}