extends ../layout

block mainContent
  h1 #{title}

  h2 Not Authenticated

  #fb-login.fb_button
    a.fb_button_medium(href='/auth/facebook')
     span#fb_login_text.fb_button_text Connect with Facebook

