//- global nav bar
ul#nav

  li.first(class=(fcActiveNav=='list' ? 'active' : ''))
    a(href='#{fcBase}/word/list', class=(fcActiveNav=='list' ? 'active' : '')) List
      span.details all your words
  
  li(class=(fcActiveNav=='play' ? 'active' : ''))
    a(href='#{fcBase}/play') Play
      span.details a random word

  li(class=(fcActiveNav=='add' ? 'active' : ''))
    a(href='#{fcBase}/word/add') Add
      span.details a word

  li(class=(fcActiveNav=='lookup' ? 'active' : ''))
    a(href='#{fcBase}/lookup') Lookup
      span.details with WordReference API
